
.dk-bg .bg-bx.lk-bg.alt-bg::before,
.lt-bg .bg-bx.ulk-bg.alt-bg::before {
  background-color: #292929;
}
.lt-bg {
  background-color: #ffffff;
  color: #191919;
}
.dk-bg {
  background-color: #292929;
  color: #ffffff;
}
.dk-bg .bg-bx.lk-bg::before,
.lt-bg .bg-bx.ulk-bg::before {
  background-color: #191919;
}
.dk-bg .bg-bx.lk-bg,
.lt-bg .bg-bx.ulk-bg {
  color: #ffffff;
}
.dk-bg a.clr-swp,
.lt-bg .bg-bx.ulk-bg a.clr-swp {
  color: #ffffff;
}
.dk-bg a,
.lt-bg .bg-bx.ulk-bg a,
.dk-bg .bg-bx.ulk-bg.alt-bg a {
  color: #9b8059;
}
.lt-bg a.clr-swp,
.dk-bg .bg-bx.ulk-bg a.clr-swp {
  color: #191919;
}
.dk-bg .fnt_tc-big,
.lt-bg .bg-bx.ulk-bg .fnt_tc-big {
  color: #ffffff;
}
.lt-bg .bg-bx.lk-bg::before,
.lt-bg .bg-bx.lk-bg .bg-bx.lk-bg::before,
.dk-bg .bg-bx.ulk-bg::before {
  background-color: #99a8b5;
}
.dk-bg .cnt-stl h4,
.dk-bg .fnt_tc-4,
.lt-bg .bg-bx.ulk-bg h4,
.lt-bg .bg-bx.ulk-bg .fnt_tc-4,
.lt-bg .bg-bx.lk-bg h4,
.lt-bg .bg-bx.lk-bg .fnt_tc-4,
.lt-bg .bg-bx.lk-bg h5,
.lt-bg .bg-bx.lk-bg .fnt_tc-5 {
  color: #ffffff;
}
.lt-bg [class*="bdr_"],
.dk-bg .bg-bx.ulk-bg [class*="bdr_"] {
  border-color: rgba(0, 0, 0, 0.1);
}
.lt-bg .bg-bx.lk-bg,
.dk-bg .bg-bx.ulk-bg {
  color: #ffffff;
}
section.lt-bg header > *:nth-child(2) u,
section.dk-bg .bg-bx.ulk-bg header > *:nth-child(2) u,
.lt-bg [class*="fnt_t"] + [class*="fnt_t"] u {
  color: #191919;
}
.dk-bg .inp-sgt,
.dk-bg .input-text,
.lt-bg .bg-bx.ulk-bg .inp-sgt,
.lt-bg .bg-bx.ulk-bg .input-text {
  border-color: rgba(255, 255, 255, 0.4);
  color: #191919;
  background: #ffffff;
}
.lt-bg .bg-bx.lk-bg.alt-bg::before,
.dk-bg .bg-bx.ulk-bg.alt-bg::before {
  background-color: #ffffff;
}
.lt-bg .clr-txt,
.dk-bg .bg-bx.ulk-bg .clr-txt {
  color: #191919;
}
.lt-bg .bg-bx.lk-bg::before,
.lt-bg .bg-bx.lk-bg .bg-bx.lk-bg::before,
.dk-bg .bg-bx.ulk-bg::before {
  background-color: #99a8b5;
}
.dk-bg a,
.lt-bg .bg-bx.ulk-bg a,
.dk-bg .bg-bx.ulk-bg.alt-bg a,
.lt-bg .bg-bx.lk-bg.alt-bg a {
  color: #a0a0a0;
}
.dk-bg.hdr .mnu-btn.mbl {
  background-color: #a0a0a0;
}
.lt-bg .bg-bx.lk-bg .btn.v1,
.dk-bg .bg-bx.ulk-bg .btn.v1 {
  color: #ffffff;
}
.lt-bg .btn.v1::before,
.dk-bg .bg-bx.ulk-bg .btn.v1::before {
  background-color: #191919;
}
.lt-bg .bg-bx.lk-bg.alt-bg::before,
.dk-bg .bg-bx.ulk-bg.alt-bg::before {
  background-color: #ffffff;
}
.dk-bg a.clr-swp,
.lt-bg .bg-bx.ulk-bg a.clr-swp {
  color: #ffffff;
}
.lt-bg h1,
.lt-bg .fnt_tc-1,
section.lt-bg header > *:first-child:not(a),
section.dk-bg .bg-bx.ulk-bg header > *:first-child:not(a) {
  color: #191919;
}


body {
  font-family: "Georama", sans-serif;
  line-height: 2.23;
  font-size: 0.86rem;
  letter-spacing: 0.05em;
}
[class*="fnt_t-"] {
  display: block;
  font-style: normal;
}
.hdr .scd-nav a,
.hdr .nv ul li a {
  outline: none;
  line-height: 1.2;
  font-size: calc(0.86rem * 0.81);
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Georama", sans-serif;
  letter-spacing: 0.15rem;
}
.fnt_t-6,
.cnt-stl h6 {
  font-family: "Georama", sans-serif;
  font-size: 0.76rem;
  letter-spacing: 0.15em;
  line-height: 2.18;
  font-weight: 500;
  text-transform: uppercase;
}
.fnt_t-big {
  font-family: "Georama", sans-serif;
  font-size: 5rem;
  letter-spacing: 0.075em;
  line-height: 1.21;
  font-weight: 400;
  text-transform: none;
  word-break: break-word;
}
.fnt_pl {
  font-size: 1.14rem;
  line-height: 1.66;
  letter-spacing: 0.1em;
}
.fnt_phn {
  font-family: "Georama", sans-serif;
  font-size: 0.95rem;
  letter-spacing: 0.15em;
  line-height: 1.2;
  font-weight: 700;
}
.hdr .tgl {
  font-style: italic;
}
.btn.v1 {
  font-family: "Georama", sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.15em;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
}
.fnt_t-4,
.cnt-stl h4 {
  font-family: "Georama", sans-serif;
  font-size: 1.14rem;
  letter-spacing: 0.1em;
  line-height: 1.55;
  font-weight: 500;
  text-transform: uppercase;
}
h1 u,
h2 u,
h3 u,
h4 u,
h5 u,
h6 u,
section header u,
[class*="fnt_t"] u {
  color: #9b8059;
  text-decoration: none;
  font-weight: 700;
}
h1,
.fnt_t-1,
section header > :first-child:not(a):not(.fnt_t-big) {
  font-family: "Georama", sans-serif;
  font-size: 2.84rem;
  letter-spacing: 0.069em;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  word-break: break-word;
}
h1,
.fnt_t-1,
section header > :first-child:not(a):not(.fnt_t-big) {
  font-family: "Georama", sans-serif;
  font-size: 2.84rem;
  letter-spacing: 0.069em;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  word-break: break-word;
}
h2,
h3,
.fnt_t-3,
section header > *:nth-child(2):not(p),
aside header > *:first-child:not(a) {
  font-family: "Georama", sans-serif;
  font-size: 1.33rem;
  letter-spacing: 0.2em;
  line-height: 1.42;
  font-weight: 400;
  text-transform: uppercase;
}
fieldset li label:not([class*="fnt_"]) {
  font-family: "Georama", sans-serif;
  letter-spacing: 0em;
  line-height: 1.2;
  font-weight: 500;
  text-transform: none;
}
.btn.v1 {
  font-family: "Georama", sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.15em;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
}
.hdr .tgl {
  font-style: italic;
}
@media screen and (max-width: 1600px) {
  .fnt_t-big {
    font-size: calc(5rem * 0.85);
  }
  h1,
  .fnt_t-1,
  section header > :first-child:not(a):not(.fnt_t-big) {
    font-size: calc(2.84rem * 0.95);
  }
}
@media screen and (max-width: 1280px) {
  .fnt_t-big {
    font-size: calc(5rem * 0.75);
  }
  h1,
  .fnt_t-1,
  section header > :first-child:not(a):not(.fnt_t-big) {
    font-size: calc(2.84rem * 0.9);
  }
  .fnt_phn {
    font-size: calc(0.95rem * 1);
  }
}
@media screen and (max-width: 800px) {
  .fnt_t-big {
    font-size: calc(5rem * 0.65);
  }
  h1,
  .fnt_t-1,
  section header > :first-child:not(a):not(.fnt_t-big) {
    font-size: calc(2.84rem * 0.8);
  }
  .fnt_phn {
    font-size: calc(0.95rem * 0.95);
  }
}
@media screen and (max-width: 500px) {
  .fnt_phn {
    font-size: calc(0.95rem * 0.95);
  }
  .fnt_pl {
    font-size: calc(1.14rem * 0.85);
  }
  .fnt_t-4,
  .cnt-stl h4 {
    font-size: calc(1.14rem * 0.9);
  }
  .fnt_t-big {
    font-size: calc(5rem * 0.6);
  }
  h1,
  .fnt_t-1,
  section header > :first-child:not(a):not(.fnt_t-big) {
    font-size: calc(2.84rem * 0.7);
  }
  h2,
  h3,
  .fnt_t-3,
  section header > *:nth-child(2):not(p),
  aside header > *:first-child:not(a) {
    font-size: calc(1.33rem * 0.7);
  }
}
@media screen and (max-width: 380px) {
  .fnt_t-big {
    font-size: calc(5rem * 0.5);
  }
}


html {
  font-size: calc(15px + (18 - 15) * ((100vw - 1601px) / (1920 - 1601)));
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  border: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
section {
  position: relative;
  overflow: hidden;
}
[class*="mn_"] {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  border: none;
  max-width: 100%;
}
button {
  border: 0px;
}
a {
  text-decoration: none;
}
icon svg,
svg[data-use] {
  height: 1em;
  width: 1em;
  fill: currentcolor;
}
svg use:empty {
  display: none;
}
[data-src],
[data-bg],
[data-src].loading,
[data-bg].loading,
picture.loading img {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0;
  transition: none !important;
}
img {
  transition: opacity 0.5s ease 1s, filter 0.5s ease 1s !important;
}
.blk {
  display: block;
}
.rlt,
.psu-bfr,
.psu-aft,
.bg-bx {
  position: relative;
  z-index: 1;
}
.psu-bfr::before,
.psu-aft::after,
.bg-bx::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
#HeaderZone {
  z-index: 10;
  position: relative;
}
.half,
.col-50-50 > * {
  width: 50%;
}
.hdr .mnu-btn.mbl {
  display: none;
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 3;
  transform: translate(0, 0);
}
.ui-scroll {
  overflow: auto;
}
.btn {
  position: relative;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  align-items: center;
}
[class*="flx"] {
  align-items: stretch;
  align-content: space-around;
  display: flex;
}
.f_rev {
  flex-direction: row-reverse;
}
[class*="flx"] .fit {
  flex: 0 0 auto;
}
[class*="flx"] .ato {
  flex: 1 1 auto;
}
[class*="flx"] .str {
  align-self: stretch;
}
.f_c {
  justify-content: center;
}
.f_sb {
  justify-content: space-between;
}
body .f_m {
  align-items: center;
}
.f_clm {
  flex-direction: column;
}
.pnl-grp .lt-bg,
.pnl-grp .dk-bg {
  background-color: transparent;
}
.pnl-grp > .bx > section + section {
  padding-top: 0 !important;
}
.acc-opt.v1 .acc-mnu {
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
}
.acc-opt.v1 .fltr {
  position: fixed;
  width: 1rem !important;
  height: 1rem !important;
  font-size: 50px;
  bottom: 1rem;
  right: 1rem;
  opacity: 1;
  z-index: 2;
}
.acc-opt.v1 .fltr circle {
  fill: #0066ee;
}
.acc-opt.v1 .fltr path {
  fill: #fff;
}
@media screen and (min-width: 1281px) {
  .hdr .nv {
    display: flex;
    visibility: visible;
  }
  .hdr .nv .mnu-nv,
  .hdr .nv .el-tab.lvl-1 {
    display: none;
  }
  .hdr .mnu-btn.dkp {
    display: none;
  }
  [class*="ato-sz"][class*="flx-"][class*="-grd"]
    > li:nth-last-of-type(3n):first-of-type {
    width: calc(var(--third) - var(--grd-sp));
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: calc(
      15px + (18 - 15) * ((100vw - 1281px) / (1600 - 1281))
    );
  }
  html main br {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: calc(14px + (17 - 14) * ((100vw - 801px) / (1280 - 801)));
  }
  .hdr .mnu-btn.dkp {
    display: block;
  }
  .hdr .nv {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hd-1024 {
    display: none !important;
  }
  section[class*="pd_v"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  [class*="mn_"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  [class*="flx"][class*="-ato-rsp"],
  [class*="flx"][class*="-blk-1024"] {
    display: block;
  }
  [class*="flx"][class*="-ato-rsp"] > ul,
  [class*="flx"][class*="-ato-rsp"] > li,
  [class*="flx"][class*="-ato-rsp"] > header,
  [class*="flx"][class*="-ato-rsp"] > div,
  [class*="flx"][class*="-ato-rsp"] > picture:not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-1024"]
    > ul:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-1024"]
    > li:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-1024"]
    > header:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-1024"]
    > div:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-1024"]
    > picture:not([class*="-grd"]):not([class*="rsp_img"]) {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
  }
  .f_sb[class*="-ato-rsp"] > ul,
  .f_sb[class*="-ato-rsp"] > header,
  .f_sb[class*="-ato-rsp"] > div,
  .f_sb[class*="-ato-rsp"] > picture,
  .f_sb[class*="flx"][class*="-ato-rsp"] > ul,
  .f_sb[class*="flx"][class*="-ato-rsp"] > header,
  .f_sb[class*="flx"][class*="-ato-rsp"] > div,
  .f_sb[class*="flx"][class*="-ato-rsp"] > picture,
  .f_is-olp[class*="flx"][class*="-ato-rsp"] > ul,
  .f_is-olp[class*="flx"][class*="-ato-rsp"] > header,
  .f_is-olp[class*="flx"][class*="-ato-rsp"] > div,
  .f_is-olp[class*="flx"][class*="-ato-rsp"] > picture {
    width: 100% !important;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: calc(16px + (18 - 16) * ((100vw - 501px) / (800 - 501)));
  }
  .hdr .mnu-btn.mbl {
    display: block;
  }
  .hdr .mnu-btn.dkp {
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (500 - 320)));
  }
}
@media screen and (min-width: 359px) and (max-width: 360px) {
  html {
    font-size: 15.444px;
  }
}


#HeaderZone {
  z-index: 10;
  position: relative;
}
.overlap #HeaderZone {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.hdr .tp-lg {
  max-width: calc(
    (250 * 1px) + (374 - 250) * ((100vw - 320px) / (1920 - 320))
  );
}
.mn_wd {
  max-width: calc(
    91.333rem +
      calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) * 2
  );
}
.mn_tn {
  max-width: calc(
    64.41rem +
      calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) * 2
  );
}
[class*="mn_"] {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: calc(
    (20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))
  );
  padding-right: calc(
    (20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))
  );
}
.pd_tp {
  padding-top: 1rem;
}
.pd_tp-30 {
  padding-top: calc(1rem * 0.6);
}
.pd_tp-60 {
  padding-top: calc(1rem * 1.2);
}
.pd_tp-70 {
  padding-top: calc(1rem * 1.4);
}
.pd_bt-30 {
  padding-bottom: calc(1rem * 0.6);
}
.pd_bt {
  padding-bottom: 1rem;
}
.pd_bt-60 {
  padding-bottom: calc(1rem * 1.2);
}
.pd_tp-70 {
  padding-bottom: calc(1rem * 1.4);
}
.pd_v {
  padding-top: calc(
    (50 * 1px) + (100 - 50) * ((100vw - 320px) / (1920 - 320))
  );
  padding-bottom: calc(
    (50 * 1px) + (100 - 50) * ((100vw - 320px) / (1920 - 320))
  );
}
.pd_v-30 {
  padding-top: calc(
    calc((50 * 1px) + (100 - 50) * ((100vw - 320px) / (1920 - 320))) * 0.6
  );
  padding-bottom: calc(
    calc((50 * 1px) + (100 - 50) * ((100vw - 320px) / (1920 - 320))) * 0.6
  );
}
.pd_v-40 {
  padding-top: calc(
    calc((50 * 1px) + (100 - 50) * ((100vw - 320px) / (1920 - 320))) * 0.8
  );
  padding-bottom: calc(
    calc((50 * 1px) + (100 - 50) * ((100vw - 320px) / (1920 - 320))) * 0.8
  );
}
.pd_v-60 {
  padding-top: calc(
    calc((50 * 1px) + (100 - 50) * ((100vw - 320px) / (1920 - 320))) * 1.2
  );
  padding-bottom: calc(
    calc((50 * 1px) + (100 - 50) * ((100vw - 320px) / (1920 - 320))) * 1.2
  );
}
.pd_h-10 {
  padding-left: calc(
    calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) * 0.2
  );
  padding-right: calc(
    calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) * 0.2
  );
}
.pd_h-20 {
  padding-left: calc(
    calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) * 0.4
  );
  padding-right: calc(
    calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) * 0.4
  );
}
.pd_h-30 {
  padding-left: calc(
    calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) * 0.6
  );
  padding-right: calc(
    calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) * 0.6
  );
}
.mrg_rt-40 {
  margin-right: calc(1rem * 0.8);
}
.mrg_rt-90 {
  margin-right: calc(1rem * 1.8);
}
.mrg_lt-90 {
  margin-left: calc(1rem * 1.8);
}
.mrg_tp-40 {
  margin-top: calc(
    calc((30 * 1px) + (45 - 30) * ((100vw - 320px) / (1920 - 320))) * 0.8
  );
}
.mrg_bt-40 {
  margin-bottom: calc(
    calc((30 * 1px) + (45 - 30) * ((100vw - 320px) / (1920 - 320))) * 0.8
  );
}
.mrg_bt-60 {
  margin-bottom: calc(
    calc((30 * 1px) + (45 - 30) * ((100vw - 320px) / (1920 - 320))) * 1.2
  );
}
section header > *:nth-child(2):not(p) {
  margin-top: 0.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.full {
  width: 100%;
}
.half {
  width: 50%;
}
.four-fifths {
  width: 80%;
}
.fifth {
  width: 20%;
}
.f_sb > .half {
  width: calc(50% - 4.8%);
}
.psu-bfr::before,
.psu-aft::after,
.bg-bx::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
.dk-lg,
.lt-lg {
  display: none;
}
.lt-bg .dk-lg {
  display: block;
}
.dk-bg .lt-lg {
  display: block;
}
.f_r {
  justify-content: flex-end;
}
.ta_c {
  text-align: center;
}
.ta_l {
  text-align: left;
}
section {
  overflow: visible !important;
}
[class*="mn_"] {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: calc(
    (20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))
  );
  padding-right: calc(
    (20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))
  );
}
html:not(.cms-content) .el-tab-box .el-tab-panel:not(.active),
html:not(.cms-content) .el-tab-box .el-panel:not(.active) {
  display: none;
  visibility: hidden;
}
.btn.v1::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  clip-path: polygon(
    45% 0%,
    55% 0%,
    55% 45%,
    100% 45%,
    100% 55%,
    55% 55%,
    55% 100%,
    45% 100%,
    45% 55%,
    0% 55%,
    0% 45%,
    45% 45%
  );
  width: 0.9rem;
  height: 0.9rem;
  transition: transform 0.3s ease 0s;
}
.btn.v1 {
  z-index: 1;
  overflow: hidden;
  text-align: center;
  display: inline-flex;
  align-items: center;
  padding: 0.25em 2em 0.25em 0em;
  transition: color 0.3s ease 0s;
}
[class*="flx"][class*="-grd"] {
  flex-wrap: wrap;
  position: relative;
  width: calc(100% + 1.8rem);
  left: calc(1.8rem * -0.5);
  margin-top: calc(1.8rem * -0.5);
  margin-bottom: calc(1.8rem * -0.5);
}
[class*="flx"][class*="-grd"][class*="-sml"] > li.half {
  max-width: calc(50% - (1.8rem * 0.7));
}
[class*="flx"][class*="-grd"][class*="-lrg"] {
  width: calc(100% + (1.8rem * 1.5));
  left: calc((1.8rem * 1.5) * -0.5);
  margin-top: calc((1.8rem * 1.5) * -0.5);
  margin-bottom: calc((1.8rem * 1.5) * -0.5);
}
[class*="flx"][class*="-grd"][class*="-lrg"] > li {
  margin: calc(((1.8rem * 1.5) - 0.111rem) * 0.5);
}
[class*="flx"][class*="-grd"][class*="-lrg"] > li.half {
  max-width: calc(50% - (1.8rem * 1.5));
}
[class*="flx"][class*="-grd"][class*="-sml"] {
  width: calc(100% + (1.8rem * 0.7));
  left: calc((1.8rem * 0.7) * -0.5);
  margin-top: calc((1.8rem * 0.7) * -0.5);
  margin-bottom: calc((1.8rem * 0.7) * -0.5);
}
[class*="flx"][class*="-grd"][class*="-sml"] > li {
  margin: calc(((1.8rem * 0.7) - 0.111rem) * 0.5);
}
[class*="flx"][class*="-grd"] > li.fifth {
  max-width: calc(20% - 1.8rem);
}
[class*="flx"][class*="-grd"] > li {
  margin: calc((1.8rem - 0.111rem) * 0.5);
  flex: 1 1 auto;
}
.bdr_b {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.img-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.img-bg img {
  position: relative;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  min-width: calc(100% + 2px);
  min-height: calc(100% + 2px);
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.hdr .mnu-btn {
  display: none;
  width: 4em;
  height: 4em;
  position: relative;
  cursor: pointer;
}
.hdr .mnu-btn span:first-of-type {
  margin-top: 0.556em;
}
.hdr .mnu-btn span:last-of-type {
  margin-top: -0.556em;
}
.acc-opt.v1 .fltr {
  position: fixed;
  cursor: pointer;
  width: 50px !important;
  height: 50px !important;
  font-size: 50px;
  bottom: 1rem;
  right: 1rem;
  opacity: 1;
  z-index: 2;
  transform: translateY(0);
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
.acc-opt.v1 .fltr.lt {
  right: auto;
  left: 1rem;
}
.pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 15;
  margin: 0 !important;
  pointer-events: none;
  transform: translateX(-100%);
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s,
    visibility 0s ease 0.3s;
}
[data-role="scroller"] [data-role="container"] {
  position: relative;
  overflow: hidden;
}
[data-role="scroller"] [data-role="list"] {
  flex-wrap: nowrap !important;
  position: relative;
  transition: transform 0.6s ease 0s, margin 0.6s ease 0s;
}
[data-role="scroller"] [data-role="item"] {
  flex: 0 0 auto !important;
  transition: opacity 0.6s ease 0s;
}
body .f_m {
  align-items: center;
}
.f_r {
  justify-content: flex-end;
}
.f_m {
  align-items: center;
}
.f_rev {
  flex-direction: row-reverse;
}
.hdr .mnu-btn.mbl {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 3;
  transition: transform 0.3s ease 0s;
  transform: translate(0, 0);
}
.hdr .mnu-btn {
  display: none;
  width: 4em;
  height: 4em;
  position: relative;
  cursor: pointer;
}
.bg-bx:not([class*="flx"]) {
  display: block;
}
.psu-bfr::before,
.psu-aft::after,
.bg-bx::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
.mstg.v3 .inf span {
  margin-top: calc(
    (30 * 1px) + (30 - 30) * ((100vw - 320px) / (1920 - 320))
  );
  margin-bottom: calc(
    (20 * 1px) + (21 - 20) * ((100vw - 320px) / (1920 - 320))
  );
  font-size: 2rem;
}
.bg-image .bg-bx::before,
.bg-inset .bg-bx::before {
  opacity: 1;
}
[class*="fnt_t-"] {
  display: block;
  font-style: normal;
}
.cnt-stl {
  font-size: 1rem;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 801px) {
  .hdr .lg-bx {
    position: absolute;
    top: 0;
    left: calc(
      (20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))
    );
    z-index: 3 !important;
    bottom: calc(
      calc((45 * 1px) + (30 - 45) * ((100vw - 800px) / (1920 - 800))) * -1
    );
  }
}
@media screen and (min-width: 1025px) {
  .anm_img img,
  .anm_seq-imgs > picture img,
  .anm_hlf-lt,
  .anm_hlf-rt,
  .anm_hlf-up,
  .anm_hlf-dn,
  .anm_seq-lst > li {
    opacity: 0;
    transition: opacity 1s ease 0s, transform 1s ease 0s;
  }
  .hdr .tp-br,
  .hdr .nv-bx {
    padding-right: calc(
      (20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))
    );
  }
  [class*="ato-sz"][class*="flx-"][class*="-grd"]:not([class*="mx-3"])
    > li:nth-last-of-type(4n-1):first-of-type {
    width: calc(25% - 1.8rem);
    max-width: calc(25% - 1.8rem);
  }
}
@media screen and (min-width: 1281px) {
  .hdr .nv {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    visibility: visible;
  }
  .hdr .scd-nav + .bx {
    position: relative;
    padding-left: calc(1rem * 0.8);
  }
}
@media screen and (min-width: 1349px) and (max-width: 1350px) {
  .anm_img img,
  .anm_seq-imgs > picture img,
  .anm_hlf-lt,
  .anm_hlf-rt,
  .anm_hlf-up,
  .anm_hlf-dn,
  .anm_seq-lst > li {
    opacity: 1 !important;
    transform: none !important;
  }
  .img,
  .img-bg,
  video {
    display: none;
  }
  .hdr .tp-lg img,
  .ftr .lg-bx img {
    width: 216px;
    height: 122px;
  }
}
@media screen and (max-width: 1600px) {
  [data-role="scroller"]
    [data-role="list"].sl_ato-rsp
    [data-role="item"].fifth {
    width: 25%;
  }
}
@media screen and (max-width: 1280px) {
  .hdr .nv {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
    overflow: auto;
    padding-bottom: 4em;
    transform: translateX(-100%);
    transition: transform var(--g-trn-sp) var(--g-trn-tf) 0s,
      visibility 0s var(--g-trn-tf) var(--g-trn-sp);
    box-shadow: 0.1em 0.1em 1em rgb(0 0 0 / 20%);
  }
  .hd-1280 {
    display: none !important;
  }
  [class*="ato-sz"][class*="flx"][class*="-grd"] > li {
    width: calc(33.333% - 1.8rem);
  }
  [data-role="scroller"]
    [data-role="list"].sl_ato-rsp
    [data-role="item"].fifth {
    width: 33.333%;
  }
  [data-role="scroller"]
    [class*="-grd"][data-role="list"].sl_ato-rsp
    [data-role="item"].fifth {
    max-width: calc(33.333% - 1.8rem);
  }
  [data-role="scroller"]
    [class*="-grd"][data-role="list"].sl_ato-rsp
    [data-role="item"].third {
    max-width: calc(50% - 1.8rem);
  }
  [data-role="scroller"]
    [data-role="list"].sl_ato-rsp
    [data-role="item"].third {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  [class*="mn_"] {
    padding-left: 0;
    padding-right: 0;
  }
  .rsp_pd {
    padding: calc(
        (50 * 1px) + (100 - 50) * ((100vw - 320px) / (1920 - 320))
      )
      calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) !important;
  }
  .rsp_pd-h {
    padding-left: calc(
      (20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))
    ) !important;
    padding-right: calc(
      (20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))
    ) !important;
  }
  [class*="ato-sz"][class*="flx"][class*="-grd"][class*="-lrg"] > li {
    width: calc(50% - (1.8rem * 1.5));
  }
  [class*="ato-sz"][class*="flx"][class*="-grd"] > li {
    width: calc(50% - 1.8rem);
  }
  .ta_c-1024 {
    text-align: center !important;
  }
  [class*="flx"][class*="-ato-rsp"],
  [class*="flx"][class*="-blk-1024"] {
    display: block;
  }
  .f_sb[class*="-ato-rsp"] > ul,
  .f_sb[class*="-ato-rsp"] > header,
  .f_sb[class*="-ato-rsp"] > div,
  .f_sb[class*="-ato-rsp"] > picture,
  .f_sb[class*="flx"][class*="-ato-rsp"] > ul,
  .f_sb[class*="flx"][class*="-ato-rsp"] > header,
  .f_sb[class*="flx"][class*="-ato-rsp"] > div,
  .f_sb[class*="flx"][class*="-ato-rsp"] > picture,
  .f_is-olp[class*="flx"][class*="-ato-rsp"] > ul,
  .f_is-olp[class*="flx"][class*="-ato-rsp"] > header,
  .f_is-olp[class*="flx"][class*="-ato-rsp"] > div,
  .f_is-olp[class*="flx"][class*="-ato-rsp"] > picture {
    width: 100% !important;
  }
  .mstg.v3 .inf {
    padding-top: 0;
  }
  [class*="flx"][class*="-ato-rsp"] > ul,
  [class*="flx"][class*="-ato-rsp"] > li,
  [class*="flx"][class*="-ato-rsp"] > header,
  [class*="flx"][class*="-ato-rsp"] > div,
  [class*="flx"][class*="-ato-rsp"] > picture:not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-1024"]
    > ul:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-1024"]
    > li:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-1024"]
    > header:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-1024"]
    > div:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-1024"]
    > picture:not([class*="-grd"]):not([class*="rsp_img"]) {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
  }
}
@media screen and (max-width: 800px) {
  .hdr .mnu-btn.dkp {
    display: none;
  }
  .hdr .mnu-btn.mbl {
    display: block;
  }
  .hdr .tp-lg {
    margin-left: auto;
    margin-right: auto;
  }
  .hdr .nv-bx {
    padding: 0 !important;
  }
  .ta_c-800 [class*="flx"],
  [class*="flx"].ta_c-800 {
    justify-content: center;
  }
  [class*="flx"][class*="-blk-800"] {
    display: block;
  }
  [class*="flx"][class*="-blk-800"]
    > ul:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-800"]
    > li:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-800"]
    > header:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-800"]
    > div:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-800"]
    > picture:not([class*="-grd"]):not([class*="rsp_img"]) {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  [class*="flx"][class*="-blk-800"][class*="-grd"],
  [class*="-sml"][class*="flx"][class*="-blk-800"][class*="-grd"] {
    width: 100% !important;
    left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  [class*="ato-sz"][class*="flx-"][class*="-grd"] > li:not(#_) {
    width: calc(50% - 1.8rem);
  }
  [data-role="scroller"]
    [class*="-grd"][data-role="list"].sl_ato-rsp
    [data-role="item"].fifth {
    width: 50%;
  }
  [class*="flx"][class*="-blk-800"]
    > ul:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-800"]
    > li:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-800"]
    > header:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-800"]
    > div:not([class*="-grd"]):not([class*="rsp_img"]),
  [class*="flx"][class*="-blk-800"]
    > picture:not([class*="-grd"]):not([class*="rsp_img"]) {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .ta_c-800 [class*="flx"],
  [class*="flx"].ta_c-800 {
    justify-content: center;
  }
  .ta_c-800 {
    text-align: center !important;
  }
  .blk {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .pd_h-10,
  .pd_h-20 {
    padding-left: calc(
      calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) *
        0.6
    );
    padding-right: calc(
      calc((20 * 1px) + (140 - 20) * ((100vw - 320px) / (1920 - 320))) *
        0.6
    );
  }
  [data-role="scroller"]
    [data-role="list"].sl_itm-100-500
    [data-role="item"] {
    width: 100% !important;
  }
  [data-role="scroller"]
    [class*="-grd"][data-role="list"].sl_itm-100-500
    [data-role="item"] {
    max-width: calc(100% - 1.8rem) !important;
  }
}
@media screen and (min-width: 359px) and (max-width: 360px) {
  .img-bg {
    display: none !important;
  }
  .hdr .tp-lg img {
    width: 216px;
    height: 122px;
  }
  .ftr .lg-bx img {
    width: 188px;
    height: 106px;
  }
  .hdr.v1 img {
    display: none;
  }
  .ftr.v1 img {
    display: none;
  }
  .scp-ftr img {
    display: none;
  }
  .mstg.v3 {
    height: 798px;
  }
  .mstg.v3 img {
    display: none;
  }
}
@media screen and (min-width: 1349px) and (max-width: 1350px) {
  .hdr.v1 img {
    display: none;
  }
  .ftr.v1 img {
    display: none;
  }
  .scp-ftr img {
    display: none;
  }
  .mstg.v3 img {
    display: none;
  }
  .hdr.v1 {
    height: 136px;
  }
}


.mstg.v1 .psu-bfr {
  z-index: 1 !important;
}
.mstg.v1 .psu-bfr::before {
  background: linear-gradient(to top, #000000, transparent);
  z-index: 1;
  opacity: 0.6;
}
.mstg.v1 .mn_wd {
  z-index: 1;
}
.mstg.v1 .inf {
  padding-top: calc(
    (150 * 1px) + (601 - 150) * ((100vw - 320px) / (1920 - 320))
  );
  padding-bottom: calc(
    (100 * 1px) + (222 - 100) * ((100vw - 320px) / (1920 - 320))
  );
}
.mstg.v1 .inf strong > u {
  color: #ffffff;
}
.mstg.v1 .inf span {
  margin-top: calc(
    (32 * 1px) + (32 - 32) * ((100vw - 320px) / (1920 - 320))
  );
  margin-bottom: calc(
    (26 * 1px) + (26 - 26) * ((100vw - 320px) / (1920 - 320))
  );
}
.mstg + .cta.v1 {
  margin-top: calc(
    -1 * calc((124 * 1px) + (208 - 124) * ((100vw - 320px) / (1920 - 320)))
  );
}
.cta.v1 .cta-lst .icn-bx {
  padding: 1.1rem;
}
.cta.v1 .cta-lst .icn {
  font-size: 2.1rem;
}
.mstg.v2 .inf {
  padding-top: calc(
    (50 * 1px) + (154 - 50) * ((100vw - 320px) / (1920 - 320))
  );
  padding-bottom: calc(
    (50 * 1px) + (260 - 50) * ((100vw - 320px) / (1920 - 320))
  );
}
.mstg.v2 .inf span {
  margin-top: calc(
    (30 * 1px) + (30 - 30) * ((100vw - 320px) / (1920 - 320))
  );
  margin-bottom: calc(
    (20 * 1px) + (21 - 20) * ((100vw - 320px) / (1920 - 320))
  );
}
@media screen and (min-width: 801px) {
  .cta.v1 .cta-lst strong {
    width: 60%;
  }
}
@media screen and (min-width: 1281px) {
  [class*="ato-sz"][class*="flx-"][class*="-grd"][class*="-lrg"]
    > li:nth-last-of-type(3n - 1):first-of-type,
  [class*="ato-sz"][class*="flx-"][class*="-grd"][class*="-lrg"]
    > li:nth-last-of-type(3n - 1):first-of-type
    ~ li,
  [class*="ato-sz"][class*="flx-"][class*="-grd"][class*="-lrg"]
    > li:nth-last-of-type(3n):first-of-type,
  [class*="ato-sz"][class*="flx-"][class*="-grd"][class*="-lrg"]
    > li:nth-last-of-type(3n):first-of-type
    ~ li {
    width: calc(33.333% - (1.8rem * 1.5));
  }
}
@media screen and (max-width: 1024px) {
  .mstg + .cta.v1 .mn_wd {
    padding-top: 0 !important;
  }
  .mstg.v2 .inf {
    width: 100%;
  }
}
@media screen and (min-width: 359px) and (max-width: 360px) {
  .overlap .mstg.v2 {
    padding-top: 202.594px;
  }
}


.fly-nv {
  display: none;
}

